@font-face {
  font-family: Aileron-Regular;
  src: url("../Fonts/Aileron-Regular_0.otf");
}
@font-face {
  font-family: Aileron-LightItalic;
  src: url("../Fonts/Aileron-LightItalic_0.otf");
}
@font-face {
  font-family: Aileron-UltraLight;
  src: url("../Fonts/Aileron-UltraLight_0.otf");
}
@font-face {
  font-family: Aileron-SemiBold;
  src: url("../Fonts/Aileron-SemiBold_0.otf");
}
@font-face {
  font-family: Aileron-Light;
  src: url("../Fonts/Aileron-Light_0.otf");
}
@font-face {
  font-family: Aileron-Thin;
  src: url("../Fonts/Aileron-Thin_0.otf");
}
@font-face {
  font-family: Aileron-Bold;
  src: url("../Fonts/Aileron-Bold_0.otf");
}
/* line 30, ../sass/index.scss */
.header {
  background: #121F34;
  height: 40px;
}
@media screen and (max-width: 767px) {
  /* line 30, ../sass/index.scss */
  .header {
    height: 80px;
  }
}
@media screen and (max-width: 767px) {
  /* line 36, ../sass/index.scss */
  .header .cont-header {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 42, ../sass/index.scss */
.header .navbar {
  margin-bottom: 0;
  min-height: 40px;
  border-color: #121F34;
  background: #121F34;
}
/* line 47, ../sass/index.scss */
.header .navbar .navbar-toggle {
  height: 20px;
  border-color: #121F34;
}
/* line 50, ../sass/index.scss */
.header .navbar .navbar-toggle:hover {
  background: none;
}
/* line 53, ../sass/index.scss */
.header .navbar .navbar-toggle:focus {
  background: none;
}
/* line 56, ../sass/index.scss */
.header .navbar .navbar-toggle .search1 img {
  margin-top: -24px;
}
/* line 60, ../sass/index.scss */
.header .navbar .navbar-toggle .navigation img {
  margin-top: -20px;
}
/* line 66, ../sass/index.scss */
.header .navbar .navbar-collapse {
  height: auto;
  width: 100%;
  z-index: 99;
}
@media screen and (max-width: 767px) {
  /* line 66, ../sass/index.scss */
  .header .navbar .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 20px;
    margin-top: 20px;
  }
}
/* line 82, ../sass/index.scss */
.header .navbar .navbar-brand {
  font-size: 14px;
  padding: 10px;
  height: 38px;
  color: #b9c4d3;
  font-weight: bold;
  font-family: Aileron-UltraLight;
}
/* line 89, ../sass/index.scss */
.header .navbar .navbar-brand.logo-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  /* line 89, ../sass/index.scss */
  .header .navbar .navbar-brand.logo-mobile {
    display: block;
  }
}
/* line 94, ../sass/index.scss */
.header .navbar .navbar-brand.logo-mobile img {
  margin-top: -15%;
  padding-left: 15%;
}
@media only screen and (min-width: 413px) and (max-width: 767px) {
  /* line 94, ../sass/index.scss */
  .header .navbar .navbar-brand.logo-mobile img {
    margin-top: -2%;
    padding-left: 5%;
  }
}
@media screen and (max-width: 767px) {
  /* line 104, ../sass/index.scss */
  .header .navbar .navbar-brand.contact-us {
    display: none;
  }
}
/* line 109, ../sass/index.scss */
.header .navbar .navbar-brand.search {
  margin-top: -5px;
}
/* line 111, ../sass/index.scss */
.header .navbar .navbar-brand.search .btn.btn-default {
  width: 20px;
  background: none;
  border: none;
}
/* line 117, ../sass/index.scss */
.header .navbar .navbar-brand.search input {
  background: #334259;
  padding-left: 10px;
  width: 215px;
  border: 0px solid #121F34;
}
@media screen and (max-width: 319px) {
  /* line 117, ../sass/index.scss */
  .header .navbar .navbar-brand.search input {
    width: 100px;
  }
}
@media screen and (max-width: 204px) {
  /* line 117, ../sass/index.scss */
  .header .navbar .navbar-brand.search input {
    width: 50px;
  }
}
/* line 131, ../sass/index.scss */
.header .navbar .navbar-brand.nbr1 {
  display: none;
}
@media screen and (max-width: 767px) {
  /* line 131, ../sass/index.scss */
  .header .navbar .navbar-brand.nbr1 {
    padding-left: 42%;
    display: block;
  }
  /* line 136, ../sass/index.scss */
  .header .navbar .navbar-brand.nbr1:focus {
    color: #C4942F;
    outline: none;
  }
  /* line 139, ../sass/index.scss */
  .header .navbar .navbar-brand.nbr1:focus p {
    border-bottom: 1px solid #C4942F;
    outline: none;
  }
}

/* line 156, ../sass/index.scss */
.slider {
  overflow-x: hidden;
  position: relative;
}
/* line 160, ../sass/index.scss */
.slider.container-fluid {
  padding-right: 0;
}
/* line 166, ../sass/index.scss */
.slider .carousel-indicators {
  position: absolute;
  bottom: 0px !important;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -27%;
  text-align: right;
  list-style: none;
}
/* line 177, ../sass/index.scss */
.slider .carousel-indicators .active {
  width: 6px;
  height: 6px;
  margin: 0;
  background-color: #7d9bc0;
  border-color: #714e05;
}
/* line 185, ../sass/index.scss */
.slider .carousel-indicators li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #c6c5c3;
  border: 1px solid #737475;
  border-radius: 6px;
}
/* line 197, ../sass/index.scss */
.slider .carousel-caption {
  z-index: 0;
}
@media screen and (max-width: 767px) {
  /* line 197, ../sass/index.scss */
  .slider .carousel-caption {
    top: 30%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 197, ../sass/index.scss */
  .slider .carousel-caption {
    top: 22%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1045px) {
  /* line 197, ../sass/index.scss */
  .slider .carousel-caption {
    top: 25%;
  }
}
/* line 210, ../sass/index.scss */
.slider .carousel-caption p {
  line-height: 40px;
}
@media screen and (max-width: 767px) {
  /* line 210, ../sass/index.scss */
  .slider .carousel-caption p {
    line-height: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 210, ../sass/index.scss */
  .slider .carousel-caption p {
    line-height: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1045px) {
  /* line 210, ../sass/index.scss */
  .slider .carousel-caption p {
    line-height: 38px;
  }
}
/* line 223, ../sass/index.scss */
.slider .carousel-caption h {
  line-height: 150px;
}
@media screen and (max-width: 767px) {
  /* line 223, ../sass/index.scss */
  .slider .carousel-caption h {
    line-height: 26px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 223, ../sass/index.scss */
  .slider .carousel-caption h {
    line-height: 90px;
  }
}
/* line 234, ../sass/index.scss */
.slider .carousel-caption #year {
  font-size: 93px;
  color: #acb3bf;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 234, ../sass/index.scss */
  .slider .carousel-caption #year {
    font-size: 65.1px;
  }
}
@media screen and (max-width: 767px) {
  /* line 234, ../sass/index.scss */
  .slider .carousel-caption #year {
    font-size: 21px;
    margin-bottom: 1px;
    margin-top: 5px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1045px) {
  /* line 234, ../sass/index.scss */
  .slider .carousel-caption #year {
    font-size: 71.6px;
  }
}
/* line 254, ../sass/index.scss */
.slider .carousel-caption #txt-year {
  font-size: 57.4px;
  color: #707886;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 254, ../sass/index.scss */
  .slider .carousel-caption #txt-year {
    font-size: 40.18px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1045px) {
  /* line 254, ../sass/index.scss */
  .slider .carousel-caption #txt-year {
    font-size: 44.18px;
  }
}
@media screen and (max-width: 767px) {
  /* line 254, ../sass/index.scss */
  .slider .carousel-caption #txt-year {
    font-size: 14px;
    margin-bottom: 1px;
  }
}
/* line 273, ../sass/index.scss */
.slider .carousel-caption #of {
  font-size: 36px;
  color: #707886;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  /* line 273, ../sass/index.scss */
  .slider .carousel-caption #of {
    font-size: 10px;
    margin-bottom: 1px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 273, ../sass/index.scss */
  .slider .carousel-caption #of {
    font-size: 25.2px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1045px) {
  /* line 273, ../sass/index.scss */
  .slider .carousel-caption #of {
    font-size: 27.7px;
  }
}
/* line 291, ../sass/index.scss */
.slider .carousel-caption #goat {
  font-size: 142px;
  color: #b9c4d3;
  padding-top: 10px;
}
@media screen and (max-width: 767px) {
  /* line 291, ../sass/index.scss */
  .slider .carousel-caption #goat {
    font-size: 24px;
    padding-top: 2px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 291, ../sass/index.scss */
  .slider .carousel-caption #goat {
    font-size: 99.4px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1045px) {
  /* line 291, ../sass/index.scss */
  .slider .carousel-caption #goat {
    font-size: 109.3px;
  }
}
/* line 311, ../sass/index.scss */
.slider .social-icons {
  margin-top: -50px;
  margin-bottom: 6px;
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  /* line 311, ../sass/index.scss */
  .slider .social-icons {
    margin-top: -27px;
  }
}
@media screen and (max-width: 767) {
  /* line 318, ../sass/index.scss */
  .slider .social-icons .social-links .social-link {
    width: 90px;
  }
}
@media screen and (max-width: 524px) {
  /* line 327, ../sass/index.scss */
  .slider .social-icons .social-links .social-link .social-icon1 img {
    width: 10px;
  }
}
@media only screen and (min-width: 525px) and (max-width: 767px) {
  /* line 327, ../sass/index.scss */
  .slider .social-icons .social-links .social-link .social-icon1 img {
    width: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* line 327, ../sass/index.scss */
  .slider .social-icons .social-links .social-link .social-icon1 img {
    width: 18px;
  }
}
@media screen and (max-width: 524px) {
  /* line 340, ../sass/index.scss */
  .slider .social-icons .social-links .social-link .social-icon2 img {
    width: 17px;
  }
}
@media only screen and (min-width: 525px) and (max-width: 767px) {
  /* line 340, ../sass/index.scss */
  .slider .social-icons .social-links .social-link .social-icon2 img {
    width: 25px;
    z-index: 100;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* line 340, ../sass/index.scss */
  .slider .social-icons .social-links .social-link .social-icon2 img {
    width: 30px;
  }
}
@media screen and (max-width: 524px) {
  /* line 354, ../sass/index.scss */
  .slider .social-icons .social-links .social-link .social-icon3 img {
    width: 22px;
  }
}
@media only screen and (min-width: 525px) and (max-width: 767px) {
  /* line 354, ../sass/index.scss */
  .slider .social-icons .social-links .social-link .social-icon3 img {
    width: 31px;
    z-index: 100;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* line 354, ../sass/index.scss */
  .slider .social-icons .social-links .social-link .social-icon3 img {
    width: 36px;
    margin-left: 4px;
  }
}
/* line 374, ../sass/index.scss */
.slider .menu-bar {
  position: absolute;
  width: 100%;
  top: 18.5%;
}

/* line 382, ../sass/index.scss */
.collection-block1 {
  margin-top: 3px;
  background: #707886;
}
/* line 386, ../sass/index.scss */
.collection-block1 .collections {
  float: none;
  margin: 0 auto;
}
/* line 390, ../sass/index.scss */
.collection-block1 .collections .row {
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 396, ../sass/index.scss */
.collection-block1 .collections .row .leftimage-textright-block .caption {
  position: absolute;
  left: 45%;
  top: 51%;
  text-align: center;
}
@media screen and (max-width: 661px) {
  /* line 396, ../sass/index.scss */
  .collection-block1 .collections .row .leftimage-textright-block .caption {
    left: 43%;
  }
}
/* line 404, ../sass/index.scss */
.collection-block1 .collections .row .leftimage-textright-block .caption h {
  font-size: 32px;
  font-family: Aileron-Thin;
  margin-bottom: 10px;
  color: #b9c4d3;
}
@media screen and (max-width: 661px) {
  /* line 404, ../sass/index.scss */
  .collection-block1 .collections .row .leftimage-textright-block .caption h {
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 404, ../sass/index.scss */
  .collection-block1 .collections .row .leftimage-textright-block .caption h {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  /* line 404, ../sass/index.scss */
  .collection-block1 .collections .row .leftimage-textright-block .caption h {
    font-size: 28px;
  }
}
/* line 418, ../sass/index.scss */
.collection-block1 .collections .row .leftimage-textright-block .caption h span {
  font-family: Aileron-Regular;
}
/* line 425, ../sass/index.scss */
.collection-block1 .collections .row .leftimage-textright-block .caption p#small-text {
  font-size: 25px;
  font-family: Aileron-Thin;
  margin-bottom: -6px;
  margin-top: -6px;
  color: #9ca7b7;
}
@media screen and (max-width: 661px) {
  /* line 425, ../sass/index.scss */
  .collection-block1 .collections .row .leftimage-textright-block .caption p#small-text {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 425, ../sass/index.scss */
  .collection-block1 .collections .row .leftimage-textright-block .caption p#small-text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  /* line 425, ../sass/index.scss */
  .collection-block1 .collections .row .leftimage-textright-block .caption p#small-text {
    font-size: 23px;
  }
}
/* line 443, ../sass/index.scss */
.collection-block1 .collections .row .leftimage-textright-block .b-tn {
  position: absolute;
  top: 70%;
  left: 52%;
}
@media screen and (max-width: 661px) {
  /* line 443, ../sass/index.scss */
  .collection-block1 .collections .row .leftimage-textright-block .b-tn {
    left: 20%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 443, ../sass/index.scss */
  .collection-block1 .collections .row .leftimage-textright-block .b-tn {
    left: 42%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  /* line 443, ../sass/index.scss */
  .collection-block1 .collections .row .leftimage-textright-block .b-tn {
    left: 51%;
  }
}
/* line 456, ../sass/index.scss */
.collection-block1 .collections .row .leftimage-textright-block .b-tn .ibuttn {
  background: #35445b;
  border-radius: 0;
  color: #919cad;
  width: 215px;
  border: none;
  margin-top: 28px;
}
@media screen and (max-width: 558px) {
  /* line 456, ../sass/index.scss */
  .collection-block1 .collections .row .leftimage-textright-block .b-tn .ibuttn {
    font-size: 13px;
    width: 200px;
    margin-top: 30px;
  }
}
/* line 477, ../sass/index.scss */
.collection-block1 .collections .row .topimage-bottom-block {
  margin-left: -19px;
}
@media screen and (max-width: 767px) {
  /* line 477, ../sass/index.scss */
  .collection-block1 .collections .row .topimage-bottom-block {
    margin-left: 0;
    margin-top: 10px;
  }
}
/* line 484, ../sass/index.scss */
.collection-block1 .collections .row .topimage-bottom-block .caption {
  text-align: center;
  position: absolute;
  top: 78%;
  left: 5%;
}
@media screen and (max-width: 514px) {
  /* line 484, ../sass/index.scss */
  .collection-block1 .collections .row .topimage-bottom-block .caption {
    left: 15%;
  }
}
/* line 494, ../sass/index.scss */
.collection-block1 .collections .row .topimage-bottom-block .caption h {
  font-size: 32px;
  font-family: Aileron-Thin;
  color: #b9c4d3;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 494, ../sass/index.scss */
  .collection-block1 .collections .row .topimage-bottom-block .caption h {
    font-size: 20px;
  }
}
@media screen and (max-width: 514px) {
  /* line 494, ../sass/index.scss */
  .collection-block1 .collections .row .topimage-bottom-block .caption h {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  /* line 494, ../sass/index.scss */
  .collection-block1 .collections .row .topimage-bottom-block .caption h {
    font-size: 27px;
  }
}
/* line 511, ../sass/index.scss */
.collection-block1 .collections .row .topimage-bottom-block .caption h span {
  font-family: Aileron-Regular;
}
/* line 518, ../sass/index.scss */
.collection-block1 .collections .row .topimage-bottom-block .b-tn1 {
  position: absolute;
  top: 85%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 518, ../sass/index.scss */
  .collection-block1 .collections .row .topimage-bottom-block .b-tn1 {
    left: 9%;
  }
}
/* line 525, ../sass/index.scss */
.collection-block1 .collections .row .topimage-bottom-block .b-tn1 button {
  background: #35445b;
  border-radius: 0;
  color: #919cad;
  width: 215px;
  border: none;
  border: 1px solid #b9c4d3;
  margin-top: 20px;
}
@media screen and (max-width: 558px) {
  /* line 525, ../sass/index.scss */
  .collection-block1 .collections .row .topimage-bottom-block .b-tn1 button {
    width: 200px;
    font-size: 13px;
    margin-top: 10px;
  }
}

/* line 547, ../sass/index.scss */
.row.container-fluid.collection-block2 {
  padding-right: 0;
  position: relative;
}
/* line 550, ../sass/index.scss */
.row.container-fluid.collection-block2 .caption {
  left: 3%;
  position: absolute;
  top: 27%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  /* line 550, ../sass/index.scss */
  .row.container-fluid.collection-block2 .caption {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  /* line 550, ../sass/index.scss */
  .row.container-fluid.collection-block2 .caption {
    left: 7%;
    top: 20%;
  }
}
/* line 563, ../sass/index.scss */
.row.container-fluid.collection-block2 .caption h {
  font-size: 65px;
  font-family: Aileron-UltraLight;
  line-height: 15px;
  color: #b9c4d3;
}
@media screen and (max-width: 514px) {
  /* line 563, ../sass/index.scss */
  .row.container-fluid.collection-block2 .caption h {
    font-size: 16px;
    line-height: 0;
  }
}
@media only screen and (min-width: 515px) and (max-width: 767px) {
  /* line 563, ../sass/index.scss */
  .row.container-fluid.collection-block2 .caption h {
    font-size: 21px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 563, ../sass/index.scss */
  .row.container-fluid.collection-block2 .caption h {
    font-size: 45px;
    line-height: 9px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  /* line 563, ../sass/index.scss */
  .row.container-fluid.collection-block2 .caption h {
    font-size: 59px;
  }
}
/* line 585, ../sass/index.scss */
.row.container-fluid.collection-block2 .caption h span {
  font-family: Aileron-Light;
}
/* line 590, ../sass/index.scss */
.row.container-fluid.collection-block2 .caption p#zodiac-animals {
  font-size: 35.5px;
  font-family: Aileron-UltraLight;
  color: #b9c4d3;
}
@media screen and (max-width: 514px) {
  /* line 590, ../sass/index.scss */
  .row.container-fluid.collection-block2 .caption p#zodiac-animals {
    font-size: 11px;
  }
}
@media only screen and (min-width: 515px) and (max-width: 767px) {
  /* line 590, ../sass/index.scss */
  .row.container-fluid.collection-block2 .caption p#zodiac-animals {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 590, ../sass/index.scss */
  .row.container-fluid.collection-block2 .caption p#zodiac-animals {
    font-size: 28.5px;
  }
}
/* line 605, ../sass/index.scss */
.row.container-fluid.collection-block2 .caption p#sign {
  font-size: 21px;
  font-family: Aileron-UltraLight;
  line-height: 15px;
  color: #b9c4d3;
}
@media screen and (max-width: 514px) {
  /* line 605, ../sass/index.scss */
  .row.container-fluid.collection-block2 .caption p#sign {
    font-size: 9px;
    line-height: 3px;
  }
}
@media only screen and (min-width: 515px) and (max-width: 767px) {
  /* line 605, ../sass/index.scss */
  .row.container-fluid.collection-block2 .caption p#sign {
    font-size: 12px;
    line-height: 4px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 605, ../sass/index.scss */
  .row.container-fluid.collection-block2 .caption p#sign {
    font-size: 17px;
    line-height: 8px;
  }
}
/* line 627, ../sass/index.scss */
.row.container-fluid.collection-block2 .b-tn2 {
  position: absolute;
  top: 60%;
}
@media only screen and (min-width: 768px) and (max-width: 826px) {
  /* line 627, ../sass/index.scss */
  .row.container-fluid.collection-block2 .b-tn2 {
    left: 14%;
    top: 68%;
  }
}
@media only screen and (min-width: 826px) and (max-width: 1024px) {
  /* line 627, ../sass/index.scss */
  .row.container-fluid.collection-block2 .b-tn2 {
    left: 12%;
    top: 65%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  /* line 627, ../sass/index.scss */
  .row.container-fluid.collection-block2 .b-tn2 {
    left: 16%;
    top: 65%;
  }
}
/* line 645, ../sass/index.scss */
.row.container-fluid.collection-block2 .b-tn2 button {
  background: #35445b;
  border-radius: 0;
  color: #919cad;
  width: 215px;
  border: none;
  border: 1px solid #b9c4d3;
  margin-top: 19px;
}
@media screen and (max-width: 514px) {
  /* line 645, ../sass/index.scss */
  .row.container-fluid.collection-block2 .b-tn2 button {
    font-size: 13px;
    width: 200px;
    margin-top: 38px;
  }
}
@media only screen and (min-width: 515px) and (max-width: 767px) {
  /* line 645, ../sass/index.scss */
  .row.container-fluid.collection-block2 .b-tn2 button {
    font-size: 13px;
    width: 200px;
    margin-top: 45px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 645, ../sass/index.scss */
  .row.container-fluid.collection-block2 .b-tn2 button {
    margin-top: 0;
  }
}

/* line 678, ../sass/index.scss */
.footer {
  background: #09101b;
}
/* line 680, ../sass/index.scss */
.footer .footer-container {
  float: none;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  /* line 683, ../sass/index.scss */
  .footer .footer-container .footer-cnt {
    margin-top: -50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 683, ../sass/index.scss */
  .footer .footer-container .footer-cnt {
    margin-top: -58px;
  }
}
/* line 692, ../sass/index.scss */
.footer .footer-container .footer-cnt ul {
  margin-top: 69px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  /* line 692, ../sass/index.scss */
  .footer .footer-container .footer-cnt ul {
    margin-bottom: 2px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 692, ../sass/index.scss */
  .footer .footer-container .footer-cnt ul {
    margin-bottom: 0px;
  }
}
/* line 701, ../sass/index.scss */
.footer .footer-container .footer-cnt ul li {
  list-style: none;
}
/* line 703, ../sass/index.scss */
.footer .footer-container .footer-cnt ul li.heading {
  margin-bottom: 15px;
  color: #b9c4d3;
  font-weight: bold;
  font-family: Aileron-SemiBold;
}
@media screen and (max-width: 767px) {
  /* line 703, ../sass/index.scss */
  .footer .footer-container .footer-cnt ul li.heading {
    margin-bottom: 2px;
    font-size: 10px;
  }
}
/* line 713, ../sass/index.scss */
.footer .footer-container .footer-cnt ul li a {
  text-decoration: none;
  color: #98a2af;
  line-height: 18px;
  font-size: 13px;
  font-family: Aileron-Regular;
}
@media screen and (max-width: 767px) {
  /* line 713, ../sass/index.scss */
  .footer .footer-container .footer-cnt ul li a {
    font-size: 10px;
    line-height: 5px;
  }
}
/* line 731, ../sass/index.scss */
.footer .footer-container .footer-cnt ul.connect li.heading {
  margin-bottom: 11px;
}
/* line 736, ../sass/index.scss */
.footer .footer-container .footer-cnt ul.connect li.facebook-link {
  margin-bottom: 19px;
}
/* line 738, ../sass/index.scss */
.footer .footer-container .footer-cnt ul.connect li.facebook-link span {
  padding-left: 39px;
}
/* line 742, ../sass/index.scss */
.footer .footer-container .footer-cnt ul.connect li.pinterest-link {
  margin-bottom: 14px;
}
/* line 744, ../sass/index.scss */
.footer .footer-container .footer-cnt ul.connect li.pinterest-link span {
  padding-left: 29px;
}
/* line 749, ../sass/index.scss */
.footer .footer-container .footer-cnt ul.connect li.instagram-link span {
  padding-left: 25px;
}
/* line 754, ../sass/index.scss */
.footer .footer-container .footer-cnt ul.connect .facebook-link, .footer .footer-container .footer-cnt ul.connect .pinterest-link, .footer .footer-container .footer-cnt ul.connect .instagram-link {
  margin-left: 6px;
}
@media screen and (max-width: 767px) {
  /* line 754, ../sass/index.scss */
  .footer .footer-container .footer-cnt ul.connect .facebook-link, .footer .footer-container .footer-cnt ul.connect .pinterest-link, .footer .footer-container .footer-cnt ul.connect .instagram-link {
    display: inline-block;
    width: 14%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 754, ../sass/index.scss */
  .footer .footer-container .footer-cnt ul.connect .facebook-link, .footer .footer-container .footer-cnt ul.connect .pinterest-link, .footer .footer-container .footer-cnt ul.connect .instagram-link {
    display: inline-block;
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  /* line 767, ../sass/index.scss */
  .footer .footer-container .footer-cnt ul.connect span {
    display: none;
  }
}
/* line 776, ../sass/index.scss */
.footer .footer-bottom {
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  /* line 776, ../sass/index.scss */
  .footer .footer-bottom {
    margin-top: -20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 776, ../sass/index.scss */
  .footer .footer-bottom {
    margin-top: 17px;
  }
}

/* line 786, ../sass/index.scss */
.logo {
  position: absolute;
  width: 100%;
  top: 1%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  /* line 786, ../sass/index.scss */
  .logo {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1074px) {
  /* line 786, ../sass/index.scss */
  .logo {
    left: 12%;
  }
}
@media screen and (max-width: 1164px) {
  /* line 799, ../sass/index.scss */
  .logo .desktop {
    display: none;
  }
}
/* line 804, ../sass/index.scss */
.logo .tab {
  display: none;
  padding-left: 18%;
  padding-top: 0.5%;
}
@media only screen and (min-width: 1000px) and (max-width: 1074px) {
  /* line 804, ../sass/index.scss */
  .logo .tab {
    padding-left: 20%;
    padding-top: 2%;
  }
}
@media only screen and (min-width: 1075px) and (max-width: 1164px) {
  /* line 804, ../sass/index.scss */
  .logo .tab {
    padding-left: 30%;
    padding-top: 3%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1164px) {
  /* line 804, ../sass/index.scss */
  .logo .tab {
    display: block;
  }
}
/* line 821, ../sass/index.scss */
.logo .caption {
  font-family: Aileron-LightItalic;
}
@media screen and (max-width: 1164px) {
  /* line 821, ../sass/index.scss */
  .logo .caption {
    display: none;
  }
}
/* line 826, ../sass/index.scss */
.logo .caption p {
  font-size: 14px;
  margin-left: 35%;
  margin-top: -0.5%;
  color: #a0a299;
}
@media only screen and (min-width: 981px) and (max-width: 1074px) {
  /* line 826, ../sass/index.scss */
  .logo .caption p {
    margin-left: 0;
    margin-top: -2%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
  /* line 826, ../sass/index.scss */
  .logo .caption p {
    margin-left: 33%;
    margin-top: -2%;
  }
}

@media screen and (max-width: 767px) {
  /* line 845, ../sass/index.scss */
  .menu-bar {
    display: none;
  }
}
/* line 849, ../sass/index.scss */
.menu-bar .tnav {
  padding-left: 0;
  padding-right: 0;
  float: none;
  margin: 0 auto;
}
/* line 856, ../sass/index.scss */
.menu-bar .tnav .navbar {
  text-align: center;
}
/* line 862, ../sass/index.scss */
.menu-bar .tnav .navbar .navbar-brand {
  text-align: center;
  padding-left: 96px;
  font-size: 16px;
  outline: none;
}
@media only screen and (min-width: 768px) and (max-width: 913px) {
  /* line 862, ../sass/index.scss */
  .menu-bar .tnav .navbar .navbar-brand {
    padding-left: 60px;
  }
}
@media only screen and (min-width: 914px) and (max-width: 1024px) {
  /* line 862, ../sass/index.scss */
  .menu-bar .tnav .navbar .navbar-brand {
    padding-left: 87px;
  }
}
/* line 873, ../sass/index.scss */
.menu-bar .tnav .navbar .navbar-brand:focus {
  color: #C4942F;
}
/* line 875, ../sass/index.scss */
.menu-bar .tnav .navbar .navbar-brand:focus p {
  border-bottom: 1px solid #C4942F !important;
}

/* line 2, ../sass/collection.scss */
.collection-page {
  background: #e2e2e3;
}
/* line 5, ../sass/collection.scss */
.collection-page .logo {
  position: relative;
  margin-left: 0;
  padding-top: 20px;
  width: auto;
  background: #334259;
}
@media only screen and (min-width: 768px) and (max-width: 1074px) {
  /* line 5, ../sass/collection.scss */
  .collection-page .logo {
    left: 0;
    padding-left: 12%;
  }
}

/* line 21, ../sass/collection.scss */
.pendants-collection .p-collection {
  margin: 0 auto;
  float: none;
}
/* line 24, ../sass/collection.scss */
.pendants-collection .p-collection div {
  padding: 0;
}
/* line 31, ../sass/collection.scss */
.pendants-collection .p-collection div .pendantblock {
  margin-left: 0;
  margin-right: 0;
}
/* line 37, ../sass/collection.scss */
.pendants-collection .p-collection div .lst-blck .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 42, ../sass/collection.scss */
.pendants-collection .p-collection div .big-imag {
  padding: 1px;
}
/* line 46, ../sass/collection.scss */
.pendants-collection .p-collection div .pndnt {
  padding: 1px;
}
/* line 49, ../sass/collection.scss */
.pendants-collection .p-collection div .big-imag1 {
  padding: 1px;
}
/* line 52, ../sass/collection.scss */
.pendants-collection .p-collection div .lst-blck {
  padding: 1px;
}

/* line 60, ../sass/collection.scss */
.pendants {
  font-size: 50px;
  font-family: Aileron-UltraLight;
  font-weight: bold;
  color: #4c4c4c;
  border-top: 3px solid #898989;
  border-bottom: 3px solid #898989;
}
/* line 69, ../sass/collection.scss */
.pendants .items {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (max-width: 767px) {
  /* line 69, ../sass/collection.scss */
  .pendants .items {
    padding-bottom: 0;
    padding-top: 0;
  }
}
/* line 77, ../sass/collection.scss */
.pendants .items1 {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (max-width: 767px) {
  /* line 77, ../sass/collection.scss */
  .pendants .items1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-left: 15px;
  }
}
@media only screen and (min-width: 100px) and (max-width: 1093px) {
  /* line 60, ../sass/collection.scss */
  .pendants {
    font-size: 27px;
  }
}
/* line 93, ../sass/collection.scss */
.pendants span {
  font-size: 16px;
  color: #a1a1a2;
}
/* line 96, ../sass/collection.scss */
.pendants span#filter {
  color: #4c4c4c;
}
@media only screen and (min-width: 100px) and (max-width: 1093px) {
  /* line 93, ../sass/collection.scss */
  .pendants span {
    font-size: 12px;
  }
}
/* line 103, ../sass/collection.scss */
.pendants .items {
  padding-left: 8%;
}

/* line 109, ../sass/collection.scss */
.Details {
  margin-top: -42%;
}
/* line 112, ../sass/collection.scss */
.Details .caption h {
  font-size: 24px;
  color: #c4942f;
  font-family: Aileron-UltraLight;
  font-weight: bold;
}
@media only screen and (min-width: 768px) and (max-width: 1053px) {
  /* line 112, ../sass/collection.scss */
  .Details .caption h {
    font-size: 19px;
  }
}
@media screen and (max-width: 393px) {
  /* line 112, ../sass/collection.scss */
  .Details .caption h {
    font-size: 17px;
  }
}
/* line 125, ../sass/collection.scss */
.Details .caption p {
  font-size: 16px;
  font-family: Aileron-UltraLight;
  line-height: 15px;
  padding-top: 3%;
  color: #b9c4d3;
}
@media only screen and (min-width: 768px) and (max-width: 1053px) {
  /* line 131, ../sass/collection.scss */
  .Details .caption p#hde {
    display: none;
  }
}
@media only screen and (min-width: 100px) and (max-width: 589px) {
  /* line 131, ../sass/collection.scss */
  .Details .caption p#hde {
    display: none;
  }
}
/* line 140, ../sass/collection.scss */
.Details .caption p#price {
  font-size: 14px;
  color: #a27c30;
  font-family: Aileron-UltraLight;
  line-height: 13px;
  font-weight: bold;
  padding-bottom: 1%;
}
@media only screen and (min-width: 100px) and (max-width: 1053px) {
  /* line 147, ../sass/collection.scss */
  .Details .caption p#price br {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1053px) {
  /* line 140, ../sass/collection.scss */
  .Details .caption p#price {
    font-size: 11px;
  }
}
@media screen and (max-width: 479px) {
  /* line 140, ../sass/collection.scss */
  .Details .caption p#price {
    font-size: 10px;
    line-height: 10px;
  }
}

/* line 164, ../sass/collection.scss */
.addtocard {
  margin-top: -8%;
  z-index: 999;
}
@media screen and (max-width: 1053px) {
  /* line 164, ../sass/collection.scss */
  .addtocard {
    margin-top: -19%;
  }
}
/* line 170, ../sass/collection.scss */
.addtocard div {
  float: left;
}
@media only screen and (min-width: 768px) and (max-width: 1053px) {
  /* line 170, ../sass/collection.scss */
  .addtocard div {
    clear: both;
  }
}
@media only screen and (min-width: 100px) and (max-width: 589px) {
  /* line 170, ../sass/collection.scss */
  .addtocard div {
    clear: both;
  }
}
/* line 178, ../sass/collection.scss */
.addtocard div button {
  font-size: 14px;
  width: 115px;
  border-radius: 0;
  background: #35445b;
  font-family: Aileron-Thin;
  border: 1px solid #b9c4d3;
  color: #b9c4d3;
  font-weight: bold;
}
/* line 190, ../sass/collection.scss */
.addtocard div .space {
  margin-left: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1053px) {
  /* line 190, ../sass/collection.scss */
  .addtocard div .space {
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 589px) {
  /* line 190, ../sass/collection.scss */
  .addtocard div .space {
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 359px) {
  /* line 190, ../sass/collection.scss */
  .addtocard div .space {
    margin-left: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1053px) {
  /* line 210, ../sass/collection.scss */
  .addtocard div .space1 {
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 589px) {
  /* line 210, ../sass/collection.scss */
  .addtocard div .space1 {
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 359px) {
  /* line 210, ../sass/collection.scss */
  .addtocard div .space1 {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 1px;
  }
}

/* line 230, ../sass/collection.scss */
.footer-cnt {
  z-index: 0;
}

/* line 233, ../sass/collection.scss */
.detail-blck {
  display: none;
}
/* line 237, ../sass/collection.scss */
.detail-blck p#name {
  font-family: Aileron-Bold;
  font-size: 16px;
  color: #c4942f;
}
/* line 243, ../sass/collection.scss */
.detail-blck p#price {
  color: #b9c4d3;
  font-family: Aileron-UltraLight;
  font-size: 16px;
  font-weight: bold;
  line-height: 15px;
}
/* line 252, ../sass/collection.scss */
.detail-blck button {
  background: none repeat scroll 0 0 #35445b;
  border: 1px solid #b9c4d3;
  border-radius: 0;
  color: #b9c4d3;
  font-family: Aileron-Thin;
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
}

/* line 3, ../sass/detail.scss */
.detail-block {
  margin: 0 auto;
  float: none !important;
}
/* line 6, ../sass/detail.scss */
.detail-block .left-block {
  padding-left: 0;
  padding-right: 0;
}
/* line 9, ../sass/detail.scss */
.detail-block .left-block p {
  font-size: 16px;
  color: #4c4c4c;
  line-height: 15px;
  font-family: Aileron-Light;
}
/* line 14, ../sass/detail.scss */
.detail-block .left-block p#top-mrgin {
  margin-top: -8px;
}
/* line 17, ../sass/detail.scss */
.detail-block .left-block p.p-dtail {
  font-size: 25px;
  margin-top: 45px;
  color: #121f34;
  font-family: Aileron-SemiBold;
  line-height: 24px;
}
/* line 24, ../sass/detail.scss */
.detail-block .left-block p.brder-bottom {
  border-bottom: 1px solid #c8c7c8;
  padding-bottom: 6px;
}
/* line 27, ../sass/detail.scss */
.detail-block .left-block p.brder-bottom.one {
  margin-top: 30px;
}
/* line 33, ../sass/detail.scss */
.detail-block .right-block {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 767px) {
  /* line 33, ../sass/detail.scss */
  .detail-block .right-block {
    padding-left: -15px;
    padding-right: -15px;
  }
}
/* line 40, ../sass/detail.scss */
.detail-block .right-block .row {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  /* line 40, ../sass/detail.scss */
  .detail-block .right-block .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (max-width: 809px) {
  /* line 50, ../sass/detail.scss */
  .detail-block .right-block .row.brder-bottm.one div {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 56, ../sass/detail.scss */
.detail-block .right-block .row.brder-bottm.one p {
  font-size: 20px;
  color: #121f34;
  font-family: Aileron-UltraLight;
  margin-bottom: 1px;
}
/* line 62, ../sass/detail.scss */
.detail-block .right-block .row.brder-bottm.one p.info {
  font-size: 38px;
  font-family: Aileron-Light;
  margin-bottom: 0px;
}
/* line 70, ../sass/detail.scss */
.detail-block .right-block .row.brder-bottm.two {
  margin-top: 10px;
}
@media screen and (max-width: 809px) {
  /* line 72, ../sass/detail.scss */
  .detail-block .right-block .row.brder-bottm.two div {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 78, ../sass/detail.scss */
.detail-block .right-block .row.brder-bottm.two p {
  font-size: 16px;
  color: #c4942f;
  font-family: Aileron-Bold;
}
/* line 82, ../sass/detail.scss */
.detail-block .right-block .row.brder-bottm.two p span {
  color: #121f34;
  font-family: Aileron-SemiBold;
}
/* line 85, ../sass/detail.scss */
.detail-block .right-block .row.brder-bottm.two p span#one {
  margin-left: 30px;
}
/* line 87, ../sass/detail.scss */
.detail-block .right-block .row.brder-bottm.two p span#one label {
  margin-left: 10px;
}
/* line 92, ../sass/detail.scss */
.detail-block .right-block .row.brder-bottm.two p#second-para {
  color: #121f34;
  font-family: Aileron-Regular;
  line-height: 16px;
  margin-top: 10px;
}
@media screen and (max-width: 450px) {
  /* line 97, ../sass/detail.scss */
  .detail-block .right-block .row.brder-bottm.two p#second-para br {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 874px) {
  /* line 97, ../sass/detail.scss */
  .detail-block .right-block .row.brder-bottm.two p#second-para br {
    display: none;
  }
}
/* line 107, ../sass/detail.scss */
.detail-block .right-block .row.brder-bottm.two .block1 {
  color: #121f34;
  font-size: 16px;
}
/* line 110, ../sass/detail.scss */
.detail-block .right-block .row.brder-bottm.two .block1 h {
  font-family: Aileron-Bold;
}
/* line 113, ../sass/detail.scss */
.detail-block .right-block .row.brder-bottm.two .block1 p {
  font-family: Aileron-Regular;
}
@media screen and (max-width: 809px) {
  /* line 119, ../sass/detail.scss */
  .detail-block .right-block .row.brder-bottm.two .block2 {
    padding-left: 3%;
  }
}
/* line 126, ../sass/detail.scss */
.detail-block .right-block .row.chain {
  color: #121f34;
  margin-top: 10px;
}
/* line 129, ../sass/detail.scss */
.detail-block .right-block .row.chain .block1 {
  font-size: 16px;
  font-family: Aileron-SemiBold;
}
@media screen and (max-width: 809px) {
  /* line 129, ../sass/detail.scss */
  .detail-block .right-block .row.chain .block1 {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 137, ../sass/detail.scss */
.detail-block .right-block .row.chain .block1 p {
  font-family: Aileron-Regular;
}
/* line 139, ../sass/detail.scss */
.detail-block .right-block .row.chain .block1 p#sold {
  line-height: 15px;
  margin-top: 10px;
}
@media screen and (max-width: 330px) {
  /* line 142, ../sass/detail.scss */
  .detail-block .right-block .row.chain .block1 p#sold br {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 142, ../sass/detail.scss */
  .detail-block .right-block .row.chain .block1 p#sold br {
    display: none;
  }
}
/* line 151, ../sass/detail.scss */
.detail-block .right-block .row.chain .block1 p button {
  background: #c8c7c8;
  font-family: Aileron-SemiBold;
  border-radius: 0;
  border-color: none;
  width: 107px;
}
/* line 157, ../sass/detail.scss */
.detail-block .right-block .row.chain .block1 p button span {
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 809px) {
  /* line 164, ../sass/detail.scss */
  .detail-block .right-block .row.chain .block2 {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 170, ../sass/detail.scss */
.detail-block .right-block .row.chain .block3 {
  font-size: 25px;
  font-family: Aileron-Bold;
  margin-bottom: 15px;
}
@media screen and (max-width: 809px) {
  /* line 170, ../sass/detail.scss */
  .detail-block .right-block .row.chain .block3 {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 485px) {
  /* line 170, ../sass/detail.scss */
  .detail-block .right-block .row.chain .block3 {
    font-size: 16.7px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 983px) {
  /* line 170, ../sass/detail.scss */
  .detail-block .right-block .row.chain .block3 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 984px) and (max-width: 1115px) {
  /* line 170, ../sass/detail.scss */
  .detail-block .right-block .row.chain .block3 {
    font-size: 21px;
  }
}
@media screen and (max-width: 809px) {
  /* line 189, ../sass/detail.scss */
  .detail-block .right-block .row.chain .block4 {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 197, ../sass/detail.scss */
.detail-block .right-block .row.chain .block4 p#bttn1 .btn-primary {
  font-size: 20px;
  background: #c4942f;
  border-radius: 0;
  color: #fff;
  font-family: Aileron-Bold;
  border: 1px solid #c4942f;
  width: 186px;
  margin-bottom: 10px;
}
/* line 211, ../sass/detail.scss */
.detail-block .right-block .row.chain .block5 {
  font-size: 25px;
  font-family: Aileron-Regular;
}
@media screen and (max-width: 809px) {
  /* line 211, ../sass/detail.scss */
  .detail-block .right-block .row.chain .block5 {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 220, ../sass/detail.scss */
.detail-block .right-block .row.block-slider {
  background: #c8c7c8;
  padding: 8% 2%;
  margin-bottom: 10px;
  margin-left: 1px;
}
/* line 226, ../sass/detail.scss */
.detail-block .right-block .row.block-slider .block-cont {
  float: none;
  margin: 0 auto;
}
/* line 229, ../sass/detail.scss */
.detail-block .right-block .row.block-slider .block-cont .slider1 {
  padding-left: 0;
  padding-right: 0;
}
/* line 232, ../sass/detail.scss */
.detail-block .right-block .row.block-slider .block-cont .slider1 .carousel-indicators {
  margin-bottom: 34%;
  margin-left: 12%;
}
@media only screen and (min-width: 385px) and (max-width: 452px) {
  /* line 232, ../sass/detail.scss */
  .detail-block .right-block .row.block-slider .block-cont .slider1 .carousel-indicators {
    margin-bottom: 35%;
  }
}
@media only screen and (min-width: 453px) and (max-width: 757px) {
  /* line 232, ../sass/detail.scss */
  .detail-block .right-block .row.block-slider .block-cont .slider1 .carousel-indicators {
    margin-bottom: 36%;
  }
}
/* line 241, ../sass/detail.scss */
.detail-block .right-block .row.block-slider .block-cont .slider1 .carousel-indicators .active {
  width: 8px;
  height: 8px;
  margin: 1px;
  background-color: #fff;
  border-color: #714e05;
}
/* line 249, ../sass/detail.scss */
.detail-block .right-block .row.block-slider .block-cont .slider1 .carousel-indicators li {
  width: 7px;
  height: 7px;
  background-color: #334259;
  border-color: #334259;
}
/* line 256, ../sass/detail.scss */
.detail-block .right-block .row.block-slider .block-cont .slider1 .carousel-block {
  padding-left: 1px;
  padding-right: 1px;
}
/* line 259, ../sass/detail.scss */
.detail-block .right-block .row.block-slider .block-cont .slider1 .carousel-block .carousel-caption {
  font-size: 16px;
  left: 2%;
  right: 2%;
  line-height: 10px;
  top: 63%;
  color: #b9c4d3;
  font-family: Aileron-Light;
}
@media screen and (max-width: 459px) {
  /* line 259, ../sass/detail.scss */
  .detail-block .right-block .row.block-slider .block-cont .slider1 .carousel-block .carousel-caption {
    top: 59%;
    font-size: 10px;
    line-height: 3px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1114px) {
  /* line 259, ../sass/detail.scss */
  .detail-block .right-block .row.block-slider .block-cont .slider1 .carousel-block .carousel-caption {
    top: 59%;
    font-size: 10px;
    line-height: 2px;
  }
}

/* line 288, ../sass/detail.scss */
.yellow {
  background: none repeat scroll 0 0 #cbb06b;
  box-shadow: 0 0 5px 0 #717172;
  height: 21px;
  width: 28px;
  margin-bottom: 15px;
}

/* line 296, ../sass/detail.scss */
.pink {
  background: none repeat scroll 0 0 #fdaabf;
  box-shadow: 0 0 5px 0 #717172;
  height: 21px;
  width: 28px;
  margin-bottom: 15px;
}

/* line 303, ../sass/detail.scss */
.gray {
  background: none repeat scroll 0 0 #c8c7c8;
  box-shadow: 0 0 5px 0 #717172;
  height: 21px;
  width: 28px;
  margin-bottom: 15px;
}

/* line 310, ../sass/detail.scss */
.white {
  background: none repeat scroll 0 0 #ebebeb;
  box-shadow: 0 0 5px 0 #717172;
  height: 21px;
  width: 28px;
  margin-bottom: 15px;
}

/* line 318, ../sass/detail.scss */
.brder-bottm {
  border-bottom: 1px dotted #c8c7c8;
}

/* line 321, ../sass/detail.scss */
.btn-group {
  font-size: 13.33px;
  font-family: Aileron-Light;
}
/* line 336, ../sass/detail.scss */
.btn-group button.bttn-one {
  background: #c8c7c8;
  color: #334259;
  border-radius: 0;
  border: 1px solid #c8c7c8;
  width: 126px;
}
/* line 344, ../sass/detail.scss */
.btn-group button.bttn-two {
  background: #334259;
  color: #b9c4d3;
  border-radius: 0;
  border: 1px solid #334259;
  width: 72px;
}

/* line 354, ../sass/detail.scss */
.message, .btn-group button:hover, .btn-group button:focus, .btn-group button:active {
  color: none;
}

/* line 358, ../sass/detail.scss */
input:checked + span:before {
  width: 7px;
  height: 7px;
  margin: 1px;
  display: block;
  content: " ";
  background-color: #334259;
  border-radius: 30px;
}

/* line 367, ../sass/detail.scss */
input {
  display: none;
}

/* line 370, ../sass/detail.scss */
.overlay {
  width: 11px;
  height: 11px;
  margin-right: 1px;
  padding: 0;
  display: inline-block;
  position: relative;
  top: -2px;
  border: 1px solid #5d5d5e;
  border-radius: 100%;
  vertical-align: middle;
}

/* line 389, ../sass/detail.scss */
.detail .menu-bar .navbar .collapse .navbar-nav .navbar-brand.cart {
  padding-top: 2px;
}
@media only screen and (min-width: 768px) and (max-width: 779px) {
  /* line 387, ../sass/detail.scss */
  .detail .menu-bar .navbar .collapse .navbar-nav .navbar-brand {
    padding-left: 38px;
  }
}
@media only screen and (min-width: 780px) and (max-width: 895px) {
  /* line 387, ../sass/detail.scss */
  .detail .menu-bar .navbar .collapse .navbar-nav .navbar-brand {
    padding-left: 40px;
  }
}
@media only screen and (min-width: 914px) and (max-width: 935px) {
  /* line 387, ../sass/detail.scss */
  .detail .menu-bar .navbar .collapse .navbar-nav .navbar-brand {
    padding-left: 58px;
  }
}
@media only screen and (min-width: 936px) and (max-width: 999px) {
  /* line 387, ../sass/detail.scss */
  .detail .menu-bar .navbar .collapse .navbar-nav .navbar-brand {
    padding-left: 63px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1111px) {
  /* line 387, ../sass/detail.scss */
  .detail .menu-bar .navbar .collapse .navbar-nav .navbar-brand {
    padding-left: 76px;
  }
}

/* line 416, ../sass/detail.scss */
.p-left {
  padding-right: 10px;
}
